.iconButton{
  width: 75px;
  text-align: center;
  background:white;
  border: none;
  
}
.icon{
    font-size:50px;
    color: rgb(1, 1, 114);
}

.grid{
   display: grid;
   grid-template-columns: auto auto;
   max-width: 75%;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
}
.mission{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 500px) {
    .grid{
        grid-template-columns: auto auto auto auto; 
          grid-gap: 20px;

    }
    .icon{
        font-size:55px;
    }

}