* {
  cursor: default !important;
}
.App {
  text-align: center;
}
h1 {
  font-size: 38px;
  color: white;
  margin-top: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Loader {
  width: 12%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.LoaderImg {
  width: 100%;
  height: auto;
  animation-name: loader-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes loader-animation {
  0% {
    transform: scaleX(1);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.9);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

.App-header {
  font-family: "Roboto", sans-serif;
  background-color: #1f148c;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.a:hover,
a:visited,
a:link {
  color: #831b8c;
}
.App-link {
  color: #61dafb;
}
li {
  list-style-type: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  padding: 5px;
}
.online-shopping-icon,
.store {
  width: 200px;
  margin: 0 auto;
}

@media screen and (min-width: 499px) {
  .online-shopping-icon,
  .store {
    width: 350px;
  }
}
