.monstrera {
  height: 30px;
  width: auto;
}
.Buttons {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}
.navButton {
  width: 90px;
  height: 55px;
  font-size: 18px;
  background: white;
  border: rgb(1, 1, 114) 4px solid;
  border-radius: 9%;
  text-align: center;
}
.link {
  text-decoration: none;
}
